
## Visual Studio & C#
# User-specific files
*.suo
*.user
*.sln.docstates
.gitattributes
# Build results
[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/

## Windows OS-specific files:
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini

## Other application's files:
# Temporary documents (Word etc.)
~*.docx
*.txt~

.metadata
.recommenders
RemoteSystemsTempFiles
bin
obj
.idea
.vs
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
